body {
  margin: auto;
  width: 1600px;
  }
.Anakin {
  font-size: 70px;
  }
img {
  width: 1600px;
  }
.header {
  position: relative;
  color: #222;
}
.HeaderText {
  position: absolute;
  top: 300px;
  left: 450px;
}
main{
  width: 50%;
  margin: 40px auto; 
  position: relative;
  font-size: 25px;
}
ul, .intro{
  line-height: 150%;
  
}
ul{
  margin-left: 50px;
}

blockquote::before {
  content: '”';
  font-size: 120px;
  transform: rotate(0.5turn);
  position: absolute;
  top: -60px;
  left: 10px;
  }
blockquote {
  background: #444;
  color: white;
  diplay: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 50px;
  font-size: 60px;
  position: relative;
  margin: 50px -50px 50px -50px;
/*   width: 100%; */
  }

.text, .description{
font-size: 20px;  
}

h2{
    text-transform: uppercase;
  margin-bottom: 50px;
}
h3, h4{
  margin: 0;
}
.description{
  margin-bottom: 40px;
  font-family: 'Josefin Sans', sans-serif;
}
.line{
  border: 2px solid;
  background: black;
  margin: 80px -50px 80px -50px
}